@using Car_Sale_Web_Site.Models
@model  Car_Sale_Web_Site.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Users</h2>


@using (Html.BeginForm("Edit", "Admin", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <table id="createTable">

            <tbody>

                <div class="form-group">
                    @Html.LabelFor(m => m.FullName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.role, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.role, new { @class = "form-control" })
                    </div>
                </div>
            </tbody>
        </table>

        <br>
        <div style="margin-left: 400px" class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" style="border-color: blue" />
                <input type="button" value="Go Back" onclick="history.go(-1);return false;" class="btn btn-default" style="border-color:blue">
            </div>
        </div>

        @*<div>
                @Html.ActionLink("Back to List", "MyCars")
            </div>*@@section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
}