@{
    ViewBag.Title = "Edit Images";
}

@using PagedList;
@model IPagedList<Car_Sale_Web_Site.Models.File>
@using PagedList.Mvc;

<link href="~/Content/images/css/lightbox.css" rel="stylesheet" />
<script src="~/Content/images/js/lightbox-plus-jquery.js"></script>

<h2>Edit Images</h2>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<br>
<section class="row">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <article style="text-align:center" class="post col-md-2">
            <div>
                <a href="~/File?id=@Model.ElementAt(i).FileId" data-lightbox="cars"><img src="~/File?id=@Model.ElementAt(i).FileId" alt="photo" width="160" height="100" /></a>
            </div>
            <div>
                @*@Html.ActionLink("Delete", "Delete", "Admin", new { id = Model[i].FileId })*@
                @Html.ActionLink("Delete", "Delete", new { id = Model[i].FileId })
            </div>
            <br />
        </article>
    }
</section>

@Html.PagedListPager(Model, page => Url.Action("EditUsers", new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Users