 @{
    ViewBag.Title = "All Cars";
}

@using PagedList;
@model IPagedList<Car_Sale_Web_Site.Models.ApplicationUser>
@using PagedList.Mvc;

<h2>All Users</h2>

<br>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<br />
<table class="table">
    <tr>
        <th>
            Full name
        </th>
        <th >
            User name
        </th>
        <th>
            Phone number
        </th>
        <th>
            Email adress
        </th>
        <th>
            Role
        </th>
        <th >
            Number of posts
        </th>
        <th>
            Functions
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td style="padding-top:40px">
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td style="padding-top:40px;">
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td style="padding-top:40px;">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td style="padding-top:40px;">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="padding-top:40px;">
                @Html.DisplayFor(modelItem => item.role)
            </td>
            <td style="padding-top:40px;">
                @Html.DisplayFor(modelItem => item.postsNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                <input type="button" value="Go Back" onclick="history.go(-1);return false;" class="btn btn-default" style="border-color:blue">
            </td>
        </tr>
    }
</table>
<hr>

@Html.PagedListPager(Model, page => Url.Action("EditUsers", new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Users
