@model Car_Sale_Web_Site.Models.Ordered

@{
    ViewBag.Title = "Search cars";
}

<h2>Make Search</h2>

@{ Html.EnableClientValidation(false); }
@using (Html.BeginForm("SearchedCars", "SearchCars", null, FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<br>
    <table id="headerTable">
        <tbody>
            <tr>
                <td width="500"><b style="margin-right:170px">Basic Details</b></td>
                <td width="568"><b style="margin-right:170px">Features and Characteristics</b></td>
            </tr>
        </tbody>
    </table>

    <table id="createTable">

        <tbody>

            <tr>
                <td width="300">
                    Car Type
                    @Html.DropDownListFor(model => model.Car.CategoryId, new SelectList(Enum.GetValues(typeof(PostCar.Category))), "")
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.Climatronic, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Climatronic", Model.Car.Climatronic)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.Climatic, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Climatic", Model.Car.Climatic)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.Insurance, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Insurance", Model.Car.Insurance)
                </td>

            </tr>


            <tr>
                <td width="300">
                    Doors number
                    @Html.DropDownListFor(model => model.Car.DoorId, new SelectList(Enum.GetValues(typeof(PostCar.Door))), "")
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.Leather, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Leather", Model.Car.Leather)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.ElWindows, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.ElWindows", Model.Car.ElWindows)
                </td>
                <td width="250">
                    @Html.LabelFor(model => model.Car.Typetronic, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Typetronic", Model.Car.Typetronic)
                </td>

            </tr>


            <tr>
                <td width="300">
                    Manufacturer
                    @Html.EditorFor(model => model.Car.Manufacturer, new { htmlAttributes = new { @class = "form-inline" } })
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.ElSeats, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.ElSeats", Model.Car.ElSeats)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.SeatsHeat, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.SeatsHeat", Model.Car.SeatsHeat)
                </td>
                <td width="250">
                    @Html.LabelFor(model => model.Car.Autopilot, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Autopilot", Model.Car.Autopilot)
                </td>

            </tr>

            <tr>
                <td width="300">
                    Model
                    @Html.EditorFor(model => model.Car.CarModel, new { htmlAttributes = new { @class = "form-inline" } })
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.Audio, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Audio", Model.Car.Audio)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.Retro, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Retro", Model.Car.Retro)
                </td>
                <td width="250">
                    @Html.LabelFor(model => model.Car.TAXI, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.TAXI", Model.Car.TAXI)
                </td>
            </tr>

            <tr>
                <td width="300">
                    Town
                    @Html.EditorFor(model => model.Car.Town, new { htmlAttributes = new { @class = "form-inline" } })
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.AllowWeels, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.AllowWeels", Model.Car.AllowWeels)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.DVDTV, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.DVDTV", Model.Car.DVDTV)
                </td>
                <td width="250">
                    @Html.LabelFor(model => model.Car.Computer, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Computer", Model.Car.Computer)
                </td>
            </tr>

            <tr>
                <td width="300">
                    Fuel type
                    @Html.DropDownListFor(m => m.Car.FuelId, new SelectList(Enum.GetValues(typeof(PostCar.Fuel))), "")
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.Airbag, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Airbag", Model.Car.Airbag)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.FourByFour, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.FourByFour", Model.Car.FourByFour)
                </td>
                <td width="250">
                    @Html.LabelFor(model => model.Car.ServiceHistory, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.ServiceHistory", Model.Car.ServiceHistory)
                </td>

            </tr>


            <tr>
                <td width="300">
                    Transmission
                    @Html.DropDownListFor(m => m.Car.GearId, new SelectList(Enum.GetValues(typeof(PostCar.Gear))), "")
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.ABS, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.ABS", Model.Car.ABS)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.ESP, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.ESP", Model.Car.ESP)
                </td>
                <td width="250">
                    @Html.LabelFor(model => model.Car.Tunning, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Tunning", Model.Car.Tunning)
                </td>
            </tr>

            <tr>
                <td width="300">
                    Year min
                    @Html.EditorFor(m => m.Car.YearMin, new { htmlAttributes = new { @class = "form-inline" } })
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.HallogenLights, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.HallogenLights", Model.Car.HallogenLights)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.NavigationSystem, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.NavigationSystem", Model.Car.NavigationSystem)
                </td>
                <td width="250">
                    @Html.LabelFor(model => model.Car.ElMirrors, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.ElMirrors", Model.Car.ElMirrors)
                </td>
            </tr>



            <tr>
                <td width="300">
                    Year max
                    @Html.EditorFor(m => m.Car.YearMax, new { htmlAttributes = new { @class = "form-inline" } })
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.SevenSeats, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.SevenSeats", Model.Car.SevenSeats)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.ASRTractionControl, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.ASRTractionControl", Model.Car.ASRTractionControl)
                </td>
                <td width="250">
                    @Html.LabelFor(model => model.Car.BrandNew, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.BrandNew", Model.Car.BrandNew)
                </td>
            </tr>


            <tr>
                <td width="300">
                    Price min £
                    @Html.EditorFor(model => model.Car.Price, new { htmlAttributes = new { @class = "form-inline" } })
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.Parktronic, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Parktronic", Model.Car.Parktronic)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.Alarm, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Alarm", Model.Car.Alarm)
                </td>
                <td width="250">
                    @Html.LabelFor(model => model.Car.SecondHand, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.SecondHand", Model.Car.SecondHand)
                </td>
            </tr>
            <tr>
                <td width="300">
                    Price max £
                    @Html.EditorFor(model => model.Car.PriceMax, new { htmlAttributes = new { @class = "form-inline" } })
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.Imobilazer, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Imobilazer", Model.Car.Imobilazer)
                </td>

                <td width="250">
                    @Html.LabelFor(model => model.Car.CentralLocking, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.CentralLocking", Model.Car.CentralLocking)
                </td>
                <td width="250">
                    @Html.LabelFor(model => model.Car.Damaged, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.CheckBox("Car.Damaged", Model.Car.Damaged)
                </td>

            </tr>

            <tr>
                <td width="300">
                    Horse power Min
                    @Html.EditorFor(model => model.Car.HorsePower, new { htmlAttributes = new { @class = "form-inline" } })
                </td>
            </tr>
            <tr>
                <td width="300">
                    Horse power Max
                    @Html.EditorFor(model => model.Car.HorsePowerMax, new { htmlAttributes = new { @class = "form-inline" } })
                </td>
            </tr>
            <tr>
                <td width="300">
                    Color
                    @Html.DropDownListFor(m => m.Car.ColorId, new SelectList(Enum.GetValues(typeof(PostCar.Color))), "")
                </td>
            </tr>
        </tbody>
    </table>

    <div style="margin-left:450px" class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" style="border-color:blue" />
            <input type="button" value="Go Back" onclick="history.go(-1);return false;" class="btn btn-default" style="border-color:blue">
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
