@{
    ViewBag.Title = "Home Page";
}

@model List<Car_Sale_Web_Site.Models.PostCar>

<div class="jumbotron" style="text-align:center">
    <h2>Recent Ads</h2>
</div>

<section class="row">
    @foreach (var carAd in Model)
    {

            <article class="post col-md-4">
                @if (carAd.Files.Any(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo))
                {
                    <a href='@Url.Action("Details", "PostCars", new { id = carAd.Id })'>
                        <img src="~/File?id=@carAd.Files.First(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo).FileId" alt="photo" width="160" height="100" />
                    </a>
                }
                else
                {
                    <a href='@Url.Action("Details", "PostCars", new { id = carAd.Id })'>
                        <img src="~/fonts/noImage.png" alt="photo" width="160" height="100" />
                    </a>
                }
                @{
                    int yearInt = (int)carAd.YearId;
                }
                <div><a href='@Url.Action("Details", "PostCars", new {id = carAd.Id})'>@carAd.Manufacturer</a></div>
                <div>@carAd.CarModel</div>
                <div>Price @carAd.Price</div>
                <div>Year @yearInt</div>
                <div>
                    Posted on <i>@carAd.Date</i>
                    @if (carAd.Author != null)
                {
                        @:by <i>@carAd.Author.FullName (@carAd.Author.UserName)</i>
                }

            </div>

        </article>
    }
</section>