@{
    ViewBag.Title = "Home Page";
}

@model List<Car_Sale_Web_Site.Models.PostCar>

<div class="jumbotron" style="text-align:center">
    <h2>Recent Ads</h2>
</div>

<section class="row">
    @foreach (var carAd in Model)
    {
        <article class="post col-md-4">
            <div class="car-model">@carAd.CarModel</div>
            <div class="car-price">Price @carAd.Price</div>
            <div class="car-year">Year @carAd.YearId</div>
            <div class="about">
                Posted on <i>@carAd.Date</i>
                @if (carAd.Author != null)
                {
                    @:by <i>@carAd.Author.FullName (@carAd.Author.UserName)</i>
                }
                @if (carAd.Files.Any(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo))
                {
                    <dt>
                        Photo
                    </dt>
                    <dd>
                        <img src="~/File?id=@carAd.Files.First(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo).FileId" alt="photo" width="100" height="100" />
                    </dd>
                }
            </div>

        </article>
    }
</section>