@{
    ViewBag.Title = "Home Page";
}

@model Car_Sale_Web_Site.Models.Ordered

<div class="media-heading" style="text-align:center">
    <h3>Welcome to car sales ofiicial web!</h3>
    <h4>We have <label style="color: red"><b>@ViewBag.Count</b></label> car listings, and the number is growing by the hour!</h4>
</div>
<br>

@{ Html.EnableClientValidation(false); }
@using (Html.BeginForm("QuickSearch", "Home", FormMethod.Get))
{
    <table style="background-color: lightgoldenrodyellow;"  id="headerTable" class="homeTable">
        <tbody>
            <tr style="height:8px"></tr>
            <tr>
                <td width="470" style="padding-left:195px; text-align:unset"><b>Quick Search</b></td>
            </tr>
            <tr style="height:8px"></tr>
        </tbody>
    </table>
    
    <table style="background-color:lightblue" id="createTable" class="homeTable">

        <tbody>
            <tr >
                
                <td >
                    Manufacturer
                    @Html.EditorFor(model => model.Car.Manufacturer, new { htmlAttributes = new { @class = "form-inline" } })
                </td>               
                <td width="225">
                    Model
                    @Html.EditorFor(model => model.Car.CarModel, new { htmlAttributes = new { @class = "form-inline" } })
                </td>
            </tr>
            <tr> </tr>
            <tr>
                <td>
                    Town
                    @Html.EditorFor(model => model.Car.Town, new { htmlAttributes = new { @class = "form-inline" } })
                </td>
                <td>
                    Car Type
                    @Html.DropDownListFor(model => model.Car.CategoryId, new SelectList(Enum.GetValues(typeof(PostCar.Category))), "")
                </td>
            </tr>
            <tr> </tr>
            <tr>
                <td >
                    Min price £
                    @Html.EditorFor(model => model.Car.Price, new { htmlAttributes = new { @class = "form-inline" } })
                </td>
                <td>
                    Max price £
                    @Html.EditorFor(model => model.Car.PriceMax, new { htmlAttributes = new { @class = "form-inline" } })
                </td>
            </tr>
            <tr> </tr>
            <tr>
                <td>
                    Year min
                    @Html.EditorFor(model => model.Car.YearMin, new { htmlAttributes = new { @class = "form-inline" } })
                </td>
                <td>
                    Year max
                    @Html.EditorFor(model => model.Car.YearMax, new { htmlAttributes = new { @class = "form-inline" } })
                </td>
            </tr>
            <tr style="height:8px"></tr>
        </tbody>
    </table>
    <br>
    <div class="form-group" style="margin-left: 360px">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" style="border-color:blue" />
        </div>
    </div>
    <br><br>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div><h4 style="padding-left:490px">Latest posts</h4></div>

<section class="row" style="background-color:lightgoldenrodyellow">
    @foreach (var carAd in Model.CarsOrdered)
            {
                <article class="post col-md-4">
                    <br />
                    @if (carAd.Files.Any(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo))
                    {

                        <dd>
                            <a href='@Url.Action("Details", "PostCars", new { id = carAd.Id })'>
                                <img src="~/File?id=@carAd.Files.First(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo).FileId" alt="photo" width="160" height="100" />
                            </a>
                        </dd>
                    }
                    else
                    {
                        <a href='@Url.Action("Details", "PostCars", new { id = carAd.Id })'>
                            <img src="~/fonts/noImage.png" alt="photo" width="160" height="100" />
                        </a>
                    }
                    <div class="car-model"><a href='@Url.Action("Details", "PostCars", new {id = carAd.Id})'>@carAd.Manufacturer</a></div>
                    <div class="car-model">@carAd.CarModel</div>
                    <div class="car-price">Price @carAd.Price £</div> 
                    <div class="car-year">Year @carAd.YearMin</div>
                    <div class="about">
                        Posted on <i>@carAd.Date</i><br>
                        @if (carAd.Author != null)
                        {
                            @:by <i>@carAd.Author.FullName (@carAd.Author.UserName)</i>
                        }
                        
                    </div>
                    <br>
                </article>
    }
</section>

