
@{
    ViewBag.Title = "Searched cars";
}


@model Car_Sale_Web_Site.Models.Ordered
    @using PagedList.Mvc;

<h2>Searched cars</h2>

@using (Html.BeginForm("QuickSearch", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    for (int i = 0; i < 1; i++)
    {
        <span style="margin-top:0px" width="300">
            Order By:
            @Html.DropDownListFor(model => model.Order, new SelectList(Enum.GetValues(typeof(Ordered.Ordering))))
        </span>
            <span style="margin-bottom:29px" class="form-group">
                <input type="submit" value="Order" style="border-color:blue" />
            </span>
    }
}


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<table class="table" style="text-align:center">
<tr>
    <th style="text-align:center">
        Image
    </th>
    <th style="text-align:center">
        Make
    </th>
    <th style="text-align:center">
        Model
    </th>
    <th style="text-align:center">
        Price
    </th>
    <th style="text-align:center">
        Year
    </th>
    <th style="text-align:center">
        Fuel Type
    </th>
    <th style="text-align:center">
        Power
    </th>
    <th style="text-align:center">
        Location
    </th>
    <th style="text-align:center">
        Published Date
    </th>
    <th style="text-align:center">
        Author
    </th>
</tr>



@foreach (var item in Model.CarsPaged)
{
    <tr>
        <td>
            @if (item.Files.Any(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo))
            {
                <a href='@Url.Action("Details", "PostCars", new { id = item.Id })'>
                    <img src="~/File?id=@item.Files.First(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo).FileId" alt="photo" width="160" height="100" />
                </a>
            }
            else
            {
                <a href='@Url.Action("Details", "PostCars", new { id = item.Id })'>
                    <img src="~/fonts/noImage.png" alt="photo" width="160" height="100" />
                </a>
            }
        </td>
        <td style="padding-top:40px; text-align:center">
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td style="padding-top:40px; text-align:center">
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>

        <td style="padding-top:40px; text-align:center">
            @Html.DisplayFor(modelItem => item.Price) £
        </td>
        <td style="padding-top:40px; text-align:center">
            @Html.DisplayFor(modelItem => item.YearMin)
        </td>
        <td style="padding-top:40px; text-align:center">
            @Html.DisplayFor(modelItem => item.FuelId)
        </td>
        <td style="padding-top:40px; text-align:center">
            @Html.DisplayFor(modelItem => item.HorsePower) hp
        </td>
        <td style="padding-top:40px; text-align:center">
            @Html.DisplayFor(modelItem => item.Town)
        </td>
        <td style="padding-top:40px; text-align:center">
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td style="padding-top:40px; text-align:center;">
            @Html.DisplayFor(modelItem => item.Author_UserName)
        </td>
    </tr>
}  
</table>

@if (Model.CarsPaged.Count == 0)
{
    <br>
    <div>
            <h3 style="color:red; margin-left:200px">There's no cars matching your search. Please go back and try again.</h3>        
    </div>
    <br>
                        <dd style="padding-left:550px;">
                            <input type="button" value="Go Back" onclick="history.go(-1);return false;"class="btn btn-default" style="border-color:blue">                            
                        </dd>
}

@Html.PagedListPager(Model.CarsPaged, page => Url.Action(Model.redirect, new {  page   }))
    Showing @Model.CarsPaged.FirstItemOnPage to @Model.CarsPaged.LastItemOnPage of @Model.CarsPaged.TotalItemCount Cars
