@using Microsoft.AspNet.Identity;
@model Car_Sale_Web_Site.Models.PostCar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostCar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Administrators") || User.Identity.GetUserId() == Model.AuthorId)
    { 
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
