@using Microsoft.AspNet.Identity;
@model Car_Sale_Web_Site.Models.PostCar

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/images/css/lightbox.css" rel="stylesheet"/>
<script src="~/Content/images/js/lightbox-plus-jquery.js"></script>
<h2>Details</h2>

@if (Model.Files.Any(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo))
{
    {
        <div>
            @for (int i = 0; i < Model.Files.Count(); i++)
            {
                <a href="~/File?id=@Model.Files.ElementAt(i).FileId" data-lightbox="cars"><img src="~/File?id=@Model.Files.ElementAt(i).FileId" alt="photo" width="160" height="100" /></a>
            }
        </div>
    }

}
<div>
    <hr/>
    
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearMin)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price) £
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorsePower) 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorsePower) hp
        </dd>
        <br>
        <b><u>Contact Information:</u></b> <br>
        <dt>
            Name
        </dt>
        <dd>
            @foreach (var i in ViewBag.userInfo)
            {
                @i.Author.FullName
            }
        </dd>
        <dt>
            Username
        </dt>
        <dd>
            @foreach (var i in ViewBag.userInfo)
            {
                @i.Author.UserName
            }
        </dd>
        <dt>
            Telephone Number
        </dt>
        <dd>
            @foreach (var i in ViewBag.userInfo)
            {
                @i.Author.PhoneNumber
            }
        </dd>

        <dt>
            Email
        </dt>
        <dd>
            @foreach (var i in ViewBag.userInfo)
            {
                @i.Author.Email
            }
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin") || User.Identity.GetUserId() == Model.AuthorId)
    { 
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) @:|
    }
    <input type="button" value="Go Back" onclick="history.go(-1);return false;" class="btn btn-default" style="border-color:blue">
</p>
