@using Microsoft.AspNet.Identity;
@model Car_Sale_Web_Site.Models.PostCar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostCar</h4>
    <hr />
    <dl class="dl-horizontal">
       @if (Model.Files.Any(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo))
       {
        <dt>
            Photo
        </dt>
        <dd>
            <img src="~/File?id=@Model.Files.First(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo).FileId" alt="photo" width="100" height="100"/>
        </dd>
       }
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearMin)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HorsePower)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HorsePower)
        </dd>
    </dl>
</div>
<p>
    @if (User.IsInRole("Administrators") || User.Identity.GetUserId() == Model.AuthorId)
    { 
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) @:|
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
