@model IEnumerable<Car_Sale_Web_Site.Models.PostCar>

@{
    ViewBag.Title = "Index";
}

<h2>All Cars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Car Image
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th>
            Price
        </th>
        <th>
            Year
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.CarDescription)
        </th>*@
        <th>
            Town
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarModel)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CarDescription)
        </td>*@
        <td>

        </td>
        <td>

        </td>
        <td >

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
