
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "MyCars";
}


@model PagedList.IPagedList<Car_Sale_Web_Site.Models.PostCar>
@using PagedList.Mvc;

<h2>My Cars</h2>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<table class="table" style="text-align:center" id="hoverEffects">
    <tr>
        <th style="text-align:center">
            Image
        </th>
        <th style="text-align:center">
            Make
        </th>
        <th style="text-align:center">
            Model
        </th>
        <th style="text-align:center">
            Price
        </th>
        <th style="text-align:center">
            Year
        </th>
        <th style="text-align:center">
            Fuel Type
        </th>
        <th style="text-align:center">
            Power
        </th>
        <th style="text-align:center">
            Location
        </th>
        <th style="text-align:center">
            Published Date
        </th>
        <th style="text-align:center">
            Author
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr onclick="location.href='@Url.Action("Details", "PostCars", new { id = item.Id })'">

            <td>
                @if (item.Files.Any(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo))
                {
                        <img src="~/File?id=@item.Files.First(f => f.FileType == Car_Sale_Web_Site.Models.FileType.Photo).FileId" alt="photo" width="160" height="100" />
                }
                else
                {
                        <img src="~/fonts/noImage.png" alt="photo" width="160" height="100" />
                }
            </td>
            <td style="padding-top:40px; text-align:center">
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td style="padding-top:40px; text-align:center">
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>

            <td style="padding-top:40px; text-align:center">
                @Html.DisplayFor(modelItem => item.Price) £
            </td>
            <td style="padding-top:40px; text-align:center">
                @Html.DisplayFor(modelItem => item.YearMin)
            </td>
            <td style="padding-top:40px; text-align:center">
                @Html.DisplayFor(modelItem => item.FuelId)
            </td>
            <td style="padding-top:40px; text-align:center">
                @Html.DisplayFor(modelItem => item.HorsePower) hp
            </td>
            <td style="padding-top:40px; text-align:center">
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td style="padding-top:40px; text-align:center">
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td style="padding-top:40px; text-align:center;">
                @Html.DisplayFor(modelItem => item.Author_UserName)
            </td>
        </tr>
    }

    @if (Model.Count == 0)
    {
        <br>
        <div>
            <h3 style="color:red; margin-left:400px"> You don't have any published cars yet.</h3>
        </div>
        <br>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("MyCars", new { page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount PostCars

