@model IEnumerable<Car_Sale_Web_Site.Models.PostCar>

@{
    ViewBag.Title = "Searched cars";
}


@*@model PagedList.IPagedList<Car_Sale_Web_Site.Models.PostCar>
    @using PagedList.Mvc*@;

<h2>Searched cars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<table class="table">
    <tr>
        <th>
            Image
        </th>
        <th>
            Make
        </th>
        <th>
            Model
        </th>
        <th>
            Price
        </th>
        <th>
            Year
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.CarDescription)
            </th>*@
        <th>
            Town
        </th>
        <th>
            Date
        </th>
        <th>
            User
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Image", "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author_UserName)
            </td>
        </tr>
    }

</table>
@*@Html.PagedListPager(Model, page => Url.Action("Index", new {page, pageSize = Model.PageSize }))
    Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Cars*@
