@using System.Text.RegularExpressions
@using Car_Sale_Web_Site.Classes
@model IEnumerable<Car_Sale_Web_Site.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Messages</h2>

<p>
    @Html.ActionLink("Send Message", "Create")
</p>
<table class="table">
    <tr>
        <th>
            From
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            Message
        </th>
        <th>
            Send date
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorMsgUserName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Utils.CutText(item.MyMessage, 40)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>

            <td>

                @Html.ActionLink("Details", "Details", new { id = item.MessageId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MessageId })
            </td>
        </tr>
    }

</table>
