@using System.Text.RegularExpressions
@using Car_Sale_Web_Site.Classes
@model IEnumerable<Car_Sale_Web_Site.Models.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Messages</h2>

<p>
    @Html.ActionLink("Send Message", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Status
        </th>
       
        <th>
            From
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            Message
        </th>
        <th>
            Received
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            @if (DateTime.Compare(item.ReadDate, new DateTime(2001, 1, 1)) < 0) 
            {
                <td style="color: red">
                    NEW
</td>
            }
            else
            {
                <td>
                    -
                </td>
            }

            <td>
                <a href="~/Messages/Details/@item.MessageId"> @Html.DisplayFor(modelItem => item.AuthorMsgUserName) </a>
</td>

            <td>
                <a href="~/Messages/Details/@item.MessageId"> @Html.DisplayFor(modelItem => item.Subject) </a>
</td>
            <td>
                <a href="~/Messages/Details/@item.MessageId"> @Utils.CutText(item.MyMessage, 70) </a>
</td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>

            <td>

                @*@Html.ActionLink("Details", "Details", new {id = item.MessageId}) | *@
                @Html.ActionLink("Delete", "Delete", new {id = item.MessageId})
            </td>
        </tr>
    }

</table>
